$textColor: var(--text-color);
$backgroundColor: var(--background-color);

$lightBorderColor: var(--light-border-color);
$activeHighlightColor: var(--active-highlight-color);

// Dark mode colors
:root {
  --text-color: rgb(60, 66, 87);
  --background-color: rgb(247, 250, 252);
  --light-border-color: darken(white, 12%);
  --active-highlight-color: rgb(10, 120, 255);
}

.dark-mode {
  --text-color: rgb(220, 226, 247);
  --background-color: rgb(25, 30, 36);
  --light-border-color: lighten(black, 12%);
  --active-highlight-color: rgb(70, 160, 255);
}
